@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Zen+Dots&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:root {
  font-size: 62.5%;
  --clr-blue-dark: hsl(203, 82%, 13%);
  --clr-blue-dark-transp: hsl(203 85% 13% / 0.8);
  --clr-blue-ocean: hsl(216, 84%, 47%);
  --clr-blue-sky: hsl(204, 100%, 64%);
  --clr-blue-pale: hsl(197, 100%, 94%);
  --clr-grey-light: hsl(50, 10%, 98%);
  --clr-invalid: hsl(351, 94%, 64%);
  --clr-valid: hsl(161, 46%, 54%);
  --fnt-fam-default: "Poppins", sans-serif;
  --fnt-fam-title: "Zen Dots", cursive;
  --fnt-size-default: 1.6rem;
  --fnt-size-blurb: 1.8rem;
  --fnt-size-title: 3.5rem;
  --fnt-weight-lighter: 200;
  --fnt-weight-light: 300;
  --fnt-weight-default: 400;
  --fnt-weight-heavy: 500;
  --fnt-weight-heavier: 700;
  --fnt-weight-title: var(--fnt-weight-heavier);
  --fnt-weight-blurb: var(--fnt-weight-heavy);
}

.title-text {
  font-family: var(--fnt-fam-title);
  font-size: var(--fnt-size-title);
  color: var(--clr-blue-pale);
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--clr-blue-pale);
  font-family: var(--fnt-fam-default);
  font-size: var(--fnt-size-default);
  line-height: 2.5rem;
  padding: 3rem;
}

.main-area {
  display: grid;
  grid-template-areas: "header" "signup";
  background: var(--clr-grey-light);
  width: min(95%, 144rem);
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.41);
  padding-bottom: 4rem;
}
@media only screen and (min-width: 75em) {
  .main-area {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header signup signup";
    height: 80%;
    padding-bottom: 0;
  }
}

.header-area {
  grid-area: header;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". . ." ". title ." ". . .";
  background: url("../assets/images/header-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 75em) {
  .header-area {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "." "." "title" "." "." "." ".";
    background: url("../assets/images/header-bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-blue-dark-transp);
  padding: 3rem;
}

.icon-code {
  height: 4rem;
  aspect-ratio: 1;
  fill: white;
  margin-right: 2rem;
}

.signup {
  grid-area: signup;
  display: grid;
  grid-template-rows: 1fr max-content max-content 1fr;
  grid-template-areas: "." "cta" "form" ".";
  align-content: center;
  background: var(--clr-grey-light);
}

.cta {
  grid-area: cta;
  font-size: 1.8rem;
  font-weight: var(--fnt-weight-heavy);
  padding: 4rem;
  max-width: 80ch;
}
.cta-text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form {
  grid-area: form;
  display: grid;
  width: 90%;
  justify-content: stretch;
  margin-inline: auto;
  border-radius: 0.5rem;
  gap: 4rem;
  grid-template-rows: repeat(2, max-content);
}
@media only screen and (min-width: 75em) {
  .form {
    width: 100%;
  }
}
.form__signup {
  background: white;
  padding: 4rem;
  box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.41);
  display: grid;
  grid-template-areas: "legend";
}
@media only screen and (min-width: 53.125em) {
  .form__signup {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "legend legend";
  }
}
.form__signup-legend {
  grid-area: legend;
  padding-bottom: 2rem;
  font-weight: var(--fnt-weight-heavy);
  font-size: 2rem;
}
.form__label {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.form__input {
  text-transform: none;
  border-radius: 0.8rem;
  width: 90%;
  padding: 0.2rem 1rem;
  margin-bottom: 1.5rem;
  border: 2px solid #eeeeee;
}
.form__input:hover, .form__input:active, .form__input:focus {
  border: 2px solid var(--clr-blue-ocean);
}
.form__input:focus {
  box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.41);
}
.form__input:invalid {
  border: 2px solid var(--clr-invalid);
}

.btn {
  cursor: pointer;
  background: var(--clr-blue-ocean);
  padding: 1rem 4rem;
  display: inline;
  width: max-content;
  border-radius: 0.8rem;
  box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.41);
  color: var(--clr-grey-light);
  transition: all 0.2s ease;
  justify-self: center;
}
@media only screen and (min-width: 75em) {
  .btn {
    justify-self: start;
    margin-left: 4rem;
  }
}
.btn:hover {
  color: var(--clr-blue-dark);
  background: var(--clr-blue-sky);
}

.invalid {
  border: 2px solid var(--clr-invalid);
}

.no-password-match {
  color: var(--clr-invalid);
}

.login-text {
  margin-left: 4rem;
}
.login-link {
  font-weight: var(--fnt-weight-heavy);
}
.login-link:link, .login-link:visited {
  color: var(--clr-blue-ocean);
}
.login-link:hover {
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */