@use "../abstracts/responsive" as a;

.form {
  grid-area: form;
  display: grid;
  width: 90%;
  justify-content: stretch;
  margin-inline: auto;
  border-radius: 0.5rem;
  gap: 4rem;
  grid-template-rows: repeat(2, max-content);

  @include a.breakpoint(xl, min) {
    width: 100%;
  }
  &__signup {
    // width: 1fr;
    background: white;
    padding: 4rem;
    box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.41);
    display: grid;
    grid-template-areas: "legend";

    @include a.breakpoint(850, min) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "legend legend";
    }
    &-legend {
      grid-area: legend;
      padding-bottom: 2rem;
      font-weight: var(--fnt-weight-heavy);
      font-size: 2rem;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__input {
    text-transform: none;
    border-radius: 0.8rem;
    width: 90%;
    padding: 0.2rem 1rem;
    margin-bottom: 1.5rem;

    &:empty {
      border: 2px solid #eeeeee;
    }

    &:hover,
    &:active,
    &:focus {
      border: 2px solid var(--clr-blue-ocean);
    }

    &:focus {
      box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.41);
    }

    &:invalid {
      border: 2px solid var(--clr-invalid);
    }
  }
}

.btn {
  background: var(--clr-blue-ocean);
  padding: 1rem 4rem;
  display: inline;
  width: max-content;
  border-radius: 0.8rem;
  box-shadow: 0px 6px 14px -5px rgba(0, 0, 0, 0.41);
  color: var(--clr-grey-light);
  transition: all 0.2s ease;
  justify-self: center;

  @include a.breakpoint(xl, min) {
    justify-self: start;
    margin-left: 4rem;
  }

  &:hover {
    color: var(--clr-blue-dark);
    background: var(--clr-blue-sky);
  }
}

.invalid {
  border: 2px solid var(--clr-invalid);
}
