@use "../abstracts/" as a;
@use "typography";
@use "root";

body {
  @include a.bodyCenter();
  background-color: var(--clr-blue-pale);
  font-family: var(--fnt-fam-default);
  font-size: var(--fnt-size-default);
  line-height: 2.5rem;
  padding: 3rem;
  // background: url("../assets/images/top-left.svg") left top no-repeat;
}
